
Misc prac probs /Hard/validPermutationsDI.py
Misc prac probs /Med/lutron.py
Misc prac probs /Med/shortEncoding.py
Misc prac probs /Med/shortestBridge.py
Misc prac probs /Med/SREducation.py
Misc prac probs /Med/srEducation.txt
